<% title("Locate a Service") %>

<section>
	<h1>Find a service provider</h1>
	<label for='location'>Enter a suburb <label>
	<input type="text" name='location' id='location'>
</section>
<section id="map-container">
	<div id="map-canvas"></div>
</section>
